.filter {
  margin: 30px -20px;
  font-size: 14px;
  border-radius: 5px 5px 0 0; 
  position: relative; 
  @include max-width(700px){
    margin: 25px 0;
  }

  // filter top container
  &__top {
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 20px 0; 
    position: relative;
    z-index: 4;  
    @include max-width(700px){
      padding: 0;
      margin: 0;
    } 
  }
  // filter dropdown container
  &__dropdown {
    @include columnizerParent;
    position: absolute;
    background: $color-gray-light;    
    right: 0;
    width: 100%;
    z-index: 3;
    border-radius: 0 0 5px 5px;    
  }
  
  &__main {
    flex-grow: 1
  }
  &__primary-list {
    display: flex;
    margin-left: 107px;
    @include max-width(850px){
      margin-left: 0;      
    }
  }
  .tags-list {
    &__item, a {
      font-size: 14px;
      color: #cccccc;
      &:hover,
      &.is-active {
        color: $color-pink
      }
    }
    &__item {
      margin-right: 14px;
    }
  }
  &__type-list {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    @include max-width(850px){
      display: none;
    }
  }
  &__type {
    font-size: 29px;
    font-weight: 300;
    margin-right: 20px;
    cursor: pointer;
    &:hover {
      color: $color-purple
    }
    &:last-child {
      margin-right: 0;
    }
    img {
      width: 21px;
      height: 21px;
    }
  }
  &__close {
    display: none;    
    align-items: center;
    cursor: pointer;
    .icon-icon-cross {
      font-size: 8px;
      margin-left: 5px;
    }
  }

  &__button {
    text-align: center;
    margin-bottom: 40px; 
    .button {
      max-width: 247px;
      width: 100%;
      padding-top: 8px;
      padding-bottom: 8px;
    }    
  }

  &-selected-field {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: -9px;
    &__tag {
      width: auto;
      border-radius: 10px;
      padding: 1px 8px 1px 8px;
      border: 1px solid $color-black;
      position: relative;
      transition: .4s;
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: 9px;
      &:hover {
        padding-right: 25px;
        color: $color-white;
        background: $color-black;
        .filter-selected-field__delete {
          color: $color-white;
          opacity: 1;
          visibility: visible;
        }
      }
      
      &.is-delete {        
        width: 0;
        padding: 1px 0;
      }
    }
    &__delete {
      cursor: pointer;
      font-size: 8px;
      position: absolute;
      transition: .25s;
      right: 9px;
      top: 7px;
      visibility: hidden;
      opacity: 0
    }
    &__tag {
      margin-right: 9px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-search-input {
    display: none;
    input {
      width: 100%;
      border: none;
      background: $color-gray-light;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
    }
  }

  /* трансформация при выборе фильтра */
  @mixin filter-dropdown-open {
    box-shadow: 0 11px 27px 3px rgba(10, 12, 15, 0.17);
    background: $color-gray-light;
    .filter__dropdown {
      box-shadow: 0 15px 27px 3px rgba(10, 12, 15, 0.15);
    }
    .filter__top {
      border-bottom: 1px solid #C7C7C7;
    }
    .filter__primary-list {
      display: none;
    }
    .filter__close {
      display: flex;
    }
  }

  &[data-filter-by=tags] {
    @include filter-dropdown-open;
    .filter-selected-field {
      display: flex;
    } 
    [data-filter-set=tags] {
      color: $color-purple
    }
    
    .filter__type {
      &[data-filter-set=search] {
        opacity: .2;
      }
    }
  }

  &[data-filter-by=search] {
    @include filter-dropdown-open;
    .filter-search-input {
      display: block;
    }
    [data-filter-set=search] {
      color: $color-purple
    }

  }
}