.layout {
	margin-left: auto;
	margin-right: auto;

	&__columns {
		@include columnizerParent;
	}

	&__small-col {
		@include columnizer(3 3 4 12);
		margin-bottom: 40px;
		@media #{$media-phone-landscape} {
			@include mbot(1.5);
		}
	}

	&__small-col-plus {
		@include columnizer(4 4 4 12);
	}

	&__medium-col {
		@include columnizer(6 6 6 6 12);
	}

	&__medium-col-plus {
		@include columnizer(8 8 8 12);
	}

	&__large-col {
		@include columnizer(12);
	}

	&__small-col+&__large-col {
		@include columnizer(9 9 8 12);
	}

	&__full-col {
		@include columnizer(12);
	}
	&__aside-item {
		@include margin(1.5);
		@media #{$media-phone-landscape} {
			@include margin(1);
		}
	}
	&__footer {
		@include mtop(3);
		@include max-width(480px) {
			@include mtop(2);
		}
	}
	&__header {
		@include mbot(1);
		@media #{$media-phone-landscape} {
			margin-bottom: 0;
		}
	}

	&__header, &__footer {
		@media #{$media-phone-landscape} {
			min-width: auto;
		}
	}

	&__block {
		@include margin(2);
		&:before {
			content: '';
			display: block;
			clear: left;
		}
		@media #{$media-phone-landscape} {
			@include margin(1);
		}
	}
	&__page-header {
		@include margin;

		h1 {
			margin-top: 0;
		}
	}
	&__placeholder {
		@include margin(2);
		padding: 20px;
		text-align: center;
		background: red;
		color: white;
	}
	&__aside-item {
		.h2, .h3, .h4, .h5 {
			font-weight: normal;
			line-height: $line-height-base;
		}
	}
	&__mobile-overflow {
		@include mobile-overflow(false);
	}
	&__content-table {
		overflow-x: scroll;
	}
	&__overflow {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		@media #{$media-tablet} {
			margin-left: -5%;
			margin-right: -5%;
			width: auto;
			left: auto;
			right: auto;
		}
		@include mobile-overflow(false);
	}
}

.no-footer-margin .layout__footer {
	margin-top: 0;
}

.full-width .layout__content {
	width: 100%;
}


.wrapper {
	max-width: $content-max-width;	
	margin: 0 auto;
	padding: 0 20px;
}