.tags-list {
  display: inline-flex;
  flex-wrap: wrap;
  &__item, a{
    @extend %hashtag
  }  
}

%hashtag {
  font-size: 12px;
  margin-right: 8px;
  color: $color-gray;
  transition: color .25s;
  text-decoration: none;
  &:last-child {
    margin-right: 0;
  }  
  &:hover {
    color: $color-pink
  }
}