
  <div class="primary-cards-list__card card card--primary">
    <a href="#!" class="card__img-wrap base-link">
      <img src="img/content/card-img-4.jpg" class="card__img" alt="">
    </a>
    <div class="card__content">
      <a href="#!" class="card__type base-link">news</a>
      <a href="#!" class="card__title base-link">Clear History: Facebook helps its users protect their privacy<span
          class="card__time">~2
          min</span></a>
      <ul class="tags-list">
        <li class="tags-list__item"><a href="#!" class="base-link">#facebook</a></li>
        <li class="tags-list__item"><a href="#!" class="base-link">#tips</a></li>
      </ul>
    </div>
  </div>
  <div class="primary-cards-list__card card card--media">
    <a href="#!" class="card__content base-link">
      <div class="card__img-wrap">
        <img src="img/content/card-img-5.jpg" class="card__img" alt="">
      </div>
      <div class="card__type">video</div>
      <div class="card__media-icon">
        <div class="icon-play-wrap">
          <span class="icon-play"></span>
        </div>
      </div>
      <div class="card__title">Facebook F8: first day highlights</div>
      <span class="card__time">4:20</span>
    </a>
    <ul class="tags-list">
      <li class="tags-list__item is-active"><a href="#!" class="base-link is-pink">#facebook</a></li>
      <li class="tags-list__item"><a href="#!" class="base-link">#tips</a></li>
    </ul>
  </div>
  <div class="primary-cards-list__card card card--primary">
    <a href="#!" class="card__img-wrap base-link">
      <img src="img/content/card-img-6.jpg" class="card__img" alt="">
    </a>
    <div class="card__content">
      <a href="#!" class="card__type base-link">news</a>
      <a href="#!" class="card__title base-link">2018 Social Media Trends Report for Financial Services and
        Insurance<span class="card__time">~2
          min</span></a>
      <ul class="tags-list">
        <li class="tags-list__item"><a href="#!" class="base-link">#facebook</a></li>
        <li class="tags-list__item"><a href="#!" class="base-link">#tips</a></li>
      </ul>
    </div>
  </div>
  <div class="primary-cards-list__card card card--media card--podcast">
    <a href="#!" class="card__content base-link">
      <div class="card__img-wrap">
        <img src="img/content/card-img-7.jpg" class="card__img" alt="">
      </div>
      <div class="card__type-wrap">
        <div class="card__type">podcast</div>
        <div class="card__podcast-title">pt.3(12)</div>
      </div>
      <div class="card__media-icon">
        <img src="img/icon-podcast.png" alt="">
      </div>
      <div class="card__title">How to Use Storytelling to Connect with Your Customers</div>
      <span class="card__time">4:20</span>
    </a>
    <ul class="tags-list">
      <li class="tags-list__item is-active"><a href="#!" class="base-link is-pink">#facebook</a></li>
      <li class="tags-list__item"><a href="#!" class="base-link">#tips</a></li>
    </ul>
  </div>

  <a href="#!" class="primary-cards-list__card card js-flip card--flip">
    <div class="front">
      <div class="card__content">
        <p><b>Companies who solve for cause and effect have more loyal customers.</b></p>
        <p>Support can and should solve systemic issues in addition to individual customer problems.</p>
        <p>Fixing a recurring problem often saves money, but it also frees up time to have more productive
          conversations, which
          can be just as valuable.</p>
      </div>
      <div class="card__flipme">
        <img src="img/icon-flip.png" />
        <span>flip me!</span>
      </div>
    </div>
    <div class="back">
      <div class="card__content">
        <p><b>Companies who solve for cause and effect have more loyal customers.</b></p>
        <p>Support can and should solve systemic issues in addition to individual customer problems.</p>
        <p>Fixing a recurring problem often saves money, but it also frees up time to have more productive
          conversations, which
          can be just as valuable.</p>
      </div>
      <div class="card__flipme">
        <img src="img/icon-flip.png" />
        <span>flip me!</span>
      </div>
    </div>
  </a>
  <div class="primary-cards-list__card card card--primary">
    <a href="#!" class="card__img-wrap base-link">
      <img src="img/content/card-img-8.jpg" class="card__img" alt="">
    </a>
    <div class="card__content">
      <a href="#!" class="card__type base-link">TUTORIALS</a>
      <a href="#!" class="card__title base-link">What elements differentiate storytelling from copywriting or video
        content?<span class="card__time">~8
          min</span></a>
      <ul class="tags-list">
        <li class="tags-list__item"><a href="#!" class="base-link is-pink">#facebook</a></li>
        <li class="tags-list__item"><a href="#!" class="base-link">#tips</a></li>
      </ul>
    </div>
  </div>

  <div class="primary-cards-list__card card card--without-promo">
    <img src="img/content/card-img-9.png" class="card__img" alt="">
    <div class="card__content">
      <a href="#!" class="card__type base-link">Tips</a>
      <a href="#!" class="card__title base-link">Frater magnus te servat et satietas eum capit</a>
      <ul class="tags-list">
        <li class="tags-list__item"><a href="#!" class="base-link">#life</a></li>
        <li class="tags-list__item"><a href="#!" class="base-link">#tips</a></li>
      </ul>
    </div>
  </div>
  <div class="primary-cards-list__card card card--primary">
    <a href="#!" class="card__img-wrap base-link">
      <img src="img/content/card-img-10.jpg" class="card__img" alt="">
    </a>
    <div class="card__content">
      <a href="#!" class="card__type base-link">tips</a>
      <a href="#!" class="card__title base-link">Optimize Your Facebook Ad Spend<span class="card__time">~10
          min</span></a>
      <ul class="tags-list">
        <li class="tags-list__item"><a href="#!" class="base-link is-pink">#facebook</a></li>
        <li class="tags-list__item"><a href="#!" class="base-link">#tips</a></li>
      </ul>
    </div>
  </div>