.article {
  display: flex;
  &--video {
    .article__content {
      .single-post {
        padding-right: 0;
      }
    }
  }
  &__back {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    text-decoration: none;
    color: #000;
    font-size: 59px;
    transition: .4s;
    overflow: hidden;
    &:hover {
      width: 40px;
    }
  }
  &__profile {
    position: relative;
    width: 215px;
    flex-shrink: 0;
    padding-right: 40px;
    box-sizing: border-box;
    .person-block {
      margin-bottom: 18px;
    }
    .single-post__type {
      display: none;
    }
  }
  &__content {
    position: relative;
    .single-post {
      font-size: 16px;
      padding-right: 35%;
    }
  }
  .single-post__title {    
    & + .tags-list {
      margin-bottom: 20px;
    }
  }

  .single-post__text {
    font-size: 16px;
    line-height: 1.68;
  }

  @include max-width(1000px){
    display: block;
    
    &__profile {
      width: auto;
      padding-right: 60px;
    }
    &__content {
      .single-post {
        padding-right: 0;
        &--video {
          .single-post__text,
          .single-post__title {
            padding-right: 0;
          }
        }
      }
    }
  }

  @include max-width(700px){
    margin-top: 40px;
    &__back {
      display: none;
    }
    &__content {
      .single-post__type {
        display: none;
      }
    }
    &__profile {
      .single-post__type {
        display: block;
        margin-bottom: 30px;
        font-weight: bold;
      }
    }
  }

}
.layout--article {
  .layout__footer {
    margin-top: 0;
  }

  @include max-width(700px){
    .filter {
      display: none;
    }
  }
}
.wrapper--article {
  max-width: 755px;
}