.filter-tags-catalog {  
  display: none;
  &__group-list {
    display: flex;
    padding-top: 50px;
    @include columnizer(10);
    @include columnizerOffset(1);
    margin-right: 10.41667%;
    margin-bottom: 45px;
  }

  &__inner {
    display: flex;
  }

  &__title {
    font-weight: 700;
    margin-bottom: 37px;
  }
  &__list {
    margin-right: 90px;
    &:last-child {
      margin-right: 0;
    }
    a {        
      font-size: 14px;
      text-decoration: none;
      color: $color-black;
      transition: color .25s;
    }
  }
  &__item {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    .base-link {
      cursor: pointer;
    }
    .is-purple {
      font-weight: 700;
    }

    .is-selected {
      font-weight: 700;
      &:not(.is-pink){
        color: $color-purple;
      }
    }
  }
  &__group {
    margin-right: 90px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__count {
    color: #999999;
  }

}