.header {
	background: $color-black;
	color: $color-white;
	&-logo {
		display: flex;
		align-items: flex-end;
		text-decoration: none;
		// &__img {
		// 	width: 70px;
		// 	margin-right: 7px;
		// }
		.icon-logo {
			font-size: 20px;
			margin-right: 7px;
		}
		&__title {
			color: $color-white;
			font-weight: 300;
			margin-bottom: -1px;
		}
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;
	}
	&-nav {
		display: flex;
		margin: 0 40px;
		li {
			margin-right: 40px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__link {
		display: inline-block;
		text-decoration: none;
		color: $color-white;
		transition: .25s;
		position: relative;
		&:hover,
		&.is-active {
			color: $color-yellow;
			&:before {
				transform: translateY(0%);
				opacity: 1
			}
		}
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			top: -16px;
			height: 6px;
			background: $color-white;
			transition: .25s;
			transform: translateY(-100%);
			opacity: 0
		}
	}
	&-right {
		display: flex;
		align-items: center;
		&__link {
			margin-right: 40px;
		}
	}

	&__search {
		display: none;
		cursor: pointer;
		margin-right: 27px;
		svg {
			vertical-align: middle;
			path {
				transition: .3s;
			}			
		}
		&:hover {
			svg path{
				fill: $color-purple
			}
		}
	}	

	&__toggle {
		display: none;
		cursor: pointer;
		&--open {
			width: 50px;
			height: 17px;
			border-top: 1px solid $color-white;
			border-bottom: 1px solid $color-white;
			position: relative;
			transition: .2s;
			&:after {
				content: '';
				width: 100%;
				height: 1px;
				position: absolute;
				background: $color-white;
				top: 50%;
				margin-top: -1px;
				transition: .2s;
			}
			&:hover {
				border-color: $color-purple;
				&:after {
					background: $color-purple;
				}
			}
		}
		&--close {
			display: none;
			margin-top: 10px;
			img {
				width: 50px;
			}			
		}
	}
	&-lang {
		&.header__link{
			&:hover,
			&.is-opened{				
				.select2-selection__rendered,
				.select2-selection__arrow:before {
					color: $color-yellow!important
				}		
				&:before {
					transform: translateY(0);
					opacity: 1
				}		
			}
			&:before {
				top: -10px;
			}
		}
	}
	.select2-container--default .select2-selection--single {
		border: none;
		border-radius: 0;
		background: $color-black;
		color: $color-white;
	}
	.select2 {
		&-container {
			width: 70px!important;
		}
		&-selection__rendered {
			text-align: center;
			color: $color-white!important;
			padding-left: 15px!important;
			padding-right: 14px!important;
		}
		&-container--open {
			box-shadow: 0 5px 13px 3px rgba(74, 74, 74, 0.44);
		}
		&-selection__arrow {
			top: 3px!important;
			right: 2px!important;
			&:before {
				font-size: 7px!important;
			}
		}
	}
	
}

.select2-dropdown, 
.select2-container--default .select2-results__option {
	background: $color-black!important;
	color: $color-white!important;
	border: none!important;
	transition: background .25s;
	&:hover {
		background: #181818!important
	}
}

.select2-dropdown {
	box-shadow: 0 5px 13px 3px rgba(74, 74, 74, 0.44);
}

.select2-container--default .select2-results__option {
	padding: 15px;
	text-align: center;
	&:last-child {
		padding-bottom: 20px;
	}
}