.single-post {
  img {
    max-width: 100%;
  }
  &__title {    
    display: block;
    color: $color-black;
    text-decoration: none;   
  }
  &__type {
    font-size: 12px;
    text-transform: uppercase;
  }
  &__time {
    font-size: 14px;
    vertical-align: middle;
    white-space: nowrap;
    color: #999999;
    display: inline-block;
    margin-top: -17px;
  }
  &__text {
    line-height: 1.9;
  }
  &__imgwrap {
    text-align: left;
    margin: 60px 0;
    img {
      vertical-align: bottom;
      margin-right: 20px;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  h2 {
    margin-top: 40px;
  }
  blockquote {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.5;
    margin: 60px 0;
    font-weight: 500;
    padding-left: 22px;
    position: relative;
    &:before {
      content: '';
      width: 1px;
      height: 82%;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: $color-pink;
    }
  }

  &__block-with-card {
    display: flex;
  }

  &__cardblock {
    width: 200px;
    position: absolute;
    right: 0;
    z-index: 2;
  }
  &__infoblock {
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    padding: 38px 0;
    margin-top: -38px;
    line-height: 1.4;
  }
  
  &__video-container {
    display: flex;
  }
  &__video-content {
    flex-grow: 1;
    margin-right: 20px;
  }
  &__video-aside {
    width: 300px;
    flex-shrink: 0;
    margin-top: -37px;    
  }

  &__videoplayer {
    flex-grow: 1;    
    box-sizing: border-box;
    margin-bottom: 55px;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe {
      width: 100%;
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  @include max-width(1000px){
    &__cardblock {
      position: static;
      width: auto;
      margin: 40px 0;
      .card {
        width: 250px;
      }
    }
    &__imgwrap {
      text-align: center;
    }
    &__block-with-card {
      display: block;
    }
    &__infoblock {
      margin-top: 0;
      font-weight: bold;
      margin: 20px 0;
      padding: 25px 0;
      border: none;
      position: relative;
      text-align: center;
      &:after,
      &:before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        height: 1px;
        background: $color-black;
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
      }
    }
  }

  @include max-width(850px) {
    &__video-container {
      flex-direction: column;
    }
    &__video-aside {
      margin-top: 40px;
      width: 100%;
    }        
  }

  @include max-width(560px){
    blockquote {
      font-size: 19px;
      margin: 40px 0;
      font-weight: 400;
    }
    &__cardblock {
      .card {
        width: 100%;        
      }
    }
    &__imgwrap {
      margin: 40px 0;
      img {
        margin: 0 0 20px;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }    
  }

}

%type-content {
  font-size: 12px;
  text-transform: uppercase;
}