.socials {
  display: flex;
  font-size: 16px;
  &__item {
    display: inline-block;
    margin-right: 24px;    
    &:last-child {
      margin-right: 0;
    }
  }
  .base-link {
    &:hover {
      color: $color-yellow;
    }
  }
  @include max-width(1000px) {    
    justify-content: center;    
  }  
}

.partner-social {
  display: flex;
  align-items: center;
  margin-right: 35px;
  &__item {
    margin-right: 27px;
    &:last-child {
      margin-right: 0;
    }
    img {
      max-width: 32px;
      max-height: 32px;
      vertical-align: bottom;
    }
  }
  @include max-width(1000px) {    
    margin-right: 0;
  }
}