
// Стандартная форма
.form-standart {
	&__title {
		@include mtop(3);
		@include mbot(2.5);
		font-size: 30/14*100%;
		line-height: (41/30);
		font-weight: bold;
		margin-left: 20%;
		margin-right: 20px;
	}

	&__subtitle {
		@include mtop(2);
		@include mbot(1.5);
		font-size: 24/14*100%;
		font-weight: bold;
	}

	&__plate {
		@include the-plate();
	}

	&__fields-title {
		font-weight: bold;
		font-size: 20/12*100%;
		@include mbot(1);
		@include mtop(1);
	}

	&__fields-desc {
		@include mbot(1);
		@include mtop(1);
	}

	&__fields-list {
		display: table;
		width: 100%;
	}

	&__field {
		display: table-row;

		&.is-error {
			.form-standart__error {
				display: block;
			}
		}

		&.is-none {
			.form-standart__none {
				display: block;
			}
		}

		&.js-pass-change,
		&.is-hidden {
			display: none;
		}

		&.js-pass-change.is-visible {
			display: table-row;
		}

		&.is-personal-data {
			.form-standart__inputs {
				display: inline-block;
			}
		}

	}
	&__buttons {
		@include margin;
	}

	&__label {
		display: table-cell;
		vertical-align: top;
		text-align: right;
		padding: 15px 10px 0 0;
		width: 150px;
		color: $form-label-color;

		&.is-captcha {
			padding-bottom: 1em;
		  	vertical-align: bottom;
		}
	}

	&__item {
		display: table-cell;
		vertical-align: top;
		padding: 10px 0 10px 10px;
		@include clearfix;

		input[type='text'],
		input[type='email'],
		input[type='password'],
		input[type='tel'],
		textarea {
			width: 100%;
		}
	}

	&__add-link {
		display: inline-block;
		margin-left: 1em;
	}

	&__list {
		list-style: none;
		margin: 5px 0;
		padding: 0;

		&.is-horizontal {
			margin: 0;
			.form-standart__list-item {
				display: inline-block;
				margin-top: 5px;
				margin-bottom: 5px;
				margin-right: 1.5em;
			}
		}
	}

	&__list-item {
		@include margin(10/20);
	}

	&__error {
		display: none;
		color: $color-status-error;
	}

	&__none {
		display: none;
		font-size: 12px;
		color: $color-status-error;
	}

	&__ok {
		display: none;
		margin-top: 5px;
	}


	&__remark {
		margin-top: 5px;
		margin-bottom: 20px;
		font-size: 85%;
	}

	&__inputs {
		float: left;
		width: 45%;
		margin-right: 5%;
	}

	&__message {
		float: left;
		max-width: 35%;
		margin-top: 3px;
	}

	&__inputs-link {
		display: inline-block;
		padding-top: 5px;
		margin-right: 1em;
		@include pseudo-link;
	}

	&__link {
		display: inline-block;
		color: $color-link;
		text-decoration: underline;
		cursor: pointer;
		margin: 0 10px;

		&:hover {
			text-decoration: none;
		}
	}

	&__captcha {
		display: table;
		width: 45%;
		@include margin(10/20);
	}

	&__captcha-img {
		display: table-cell;
		vertical-align: middle;
		width: 50%;

		img {
			vertical-align: top;
		}
	}

	&__captcha-reload {
		display: table-cell;
		vertical-align: middle;
		box-sizing: border-box;
		padding-left: 15px;
	}

	&__socials-holder {
		padding: 15px 25px 25px;
		background-color: #ccc;
	}

	&__socials-caption {
		font-weight: bold;
		font-size: 18/14*100%;
		text-align: center;
	}

	&__socials {
		text-align: center;
		@include margin(20/20);
	}

	&__socials-item {
		display: inline-block;
		vertical-align: middle;
		margin-right: .25em;
		margin-left: .25em;
	}

	&__socials-link {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-color: #eee;
		border-radius: 50%;
		text-align: center;

		&.is-ok {
			@include fa-icon($fa-var-google-plus);
			line-height: 50px;
			font-size: 20px;
		}

		&.is-vk {
			@include fa-icon($fa-var-vk);
			line-height: 50px;
			font-size: 20px;
		}

		&.is-tw {
			@include fa-icon($fa-var-twitter);
			line-height: 50px;
			font-size: 20px;
		}

		&.is-fb {
			@include fa-icon($fa-var-facebook);
			line-height: 50px;
			font-size: 20px;
		}
	}

	&__link-items {
		list-style: none;
		margin: 0;
		padding: 0;
		@include margin(10/20);
	}

	&__link-item {
		display: inline-block;
		&:before {
			content: ' | ';
			margin-left: .5em;
			margin-right: .5em;
		}

		&:first-child:before {
			content: none;
		}
	}

	&__personal-data-label {
		font-size: 12px;
		line-height: 12px;
	}

	.select2-container {
		min-width: 100%;
		max-width: 100%;
	}

	&__star {
		color: red;
	}
	&__common-error-text {
		color: #c10000;
	}
}

.form-standart.is-auth {
	.form-standart {
		&__label {
			width: 50px;
		}
	}
}

.form-standart.is-subscribe {
	
	.form-standart {
		&__plate {
			background: transparent;
			padding: 0;
		}
	}
}

.form-standart.is-full-width {
	
    width: 100%; 
	background: #eee;
}

// Состояние: Вертикальная (подпись сверху, поле снизу) VER
@mixin _state_ver($mod: '') {
	.form-standart#{$mod: ''} {
		.form-standart {
			&__title {
				margin-left: 0;
				margin-right: 0;
				font-size: 150%;
				text-align: center;
				margin-bottom: 30px;
				font-weight: normal;
			}

			&__field {
				display: block;
				padding: 0;
				@include margin(20/20);
			}
			&__field.js-pass-change.is-visible {
				display: block;
			}

			&__field.js-pass-change,
			&__field.is-hidden {
				display: none;
			}

			&__label {
				display: block;
				padding: 0;
				width: auto;
				text-align: left;
				@include margin(10/20);
			}

			&__item {
				display: block;
				padding: 0;
			}
		}
	}
}

//Состояние: Горизонтальная (подпись слева, поле справа) HOR
@mixin _state_hor($mod: '') {
	.form-standart#{$mod: ''} {
		.form-standart {
			&__title {
				text-align: center;
				margin-left: 0;
				margin-right: 0;
				@include mbot(1);
			}

			&__fields-list {
				text-align: center;
			}
		}
	}
}

// Состояние:
@mixin _state_pla($mod: '') {
	.form-standart#{$mod: ''} {
		.form-standart {
			&__label {
				display: none;
			}
		}
	}
}

// Состояние: на странице контактов
@mixin _state_contacts($mod: '') {
	.form-standart#{$mod} {
		.form-standart {
			&__title{
				text-align: center;
				margin-left: 0;
				margin-right: 0;
			}

			&__label {
				padding-right: 0;
				white-space: nowrap;
				text-align: left;
				width: 70px;
			}

			&__inputs {
				padding-right: 0;
				white-space: nowrap;
				text-align: left;
			}

			&__inputs {
				width: auto;
				float: none;
				margin-right: 0;
			}

			&__message {
				float: none;
				width: auto;
				max-width: none;
			}
		}
	}
}

// Состояние: стандартная форма в модальном окне
@mixin _state_modal($mod: '') {
	.form-standart#{$mod} {
		.form-standart {
			&__title{
				margin-left: 0;
				margin-right: 0;
				margin-bottom: 20px;
			}

			&__label {
				padding-right: 0;
				white-space: nowrap;
				text-align: right;
				width: 70px;
			}

			&__inputs {
				padding-right: 0;
				white-space: nowrap;
				text-align: left;
			}

			&__inputs {
				width: auto;
				float: none;
				margin-right: 0;
			}

			&__message {
				float: none;
				width: auto;
				max-width: none;
			}
		}
	}
}
// Состояние: на странице faq
@mixin _state_faq($mod: '') {
	.form-standart#{$mod} {
		.form-standart {
			&__label {
				padding-right: 0;
				white-space: nowrap;
				text-align: left;
				width: 70px;
			}

			&__inputs {
				padding-right: 0;
				white-space: nowrap;
				text-align: left;
			}

			&__inputs {
				width: auto;
				float: none;
				margin-right: 0;
			}

			&__message {
				float: none;
				width: auto;
				max-width: none;
			}
		}
	}
}

// Состояние: восстановление пароля
@mixin _state_recovery($mod: '') {
	.form-standart#{$mod} {
		.form-standart {
			&__title {
				margin-left: 0;
				margin-right: 0;
				font-size: (26/14*100%);
				font-weight: 400;
				margin-bottom: 20px;
			}

			&__field {
				display: block;
				padding: 0;
				@include margin(10/20);
			}

			&__label {
				display: block;
				padding: 0;
				width: auto;
				text-align: left;
				@include margin(10/20);
			}

			&__item {
				display: block;
				padding: 0;
			}

			&__inputs {
				width: auto;
				float: none;
				margin-right: 0;
			}

			&__message {
				float: none;
				width: auto;
				max-width: none;
			}
		}
	}
}

// Состояние: Под полем с ошибкой, отодвигает ниже стоящие поля E2
@mixin _state_e2($mod: '') {
	.form-standart#{$mod: ''} {
		.form-standart {
			&__inputs {
				width: auto;
				float: none;
				margin-right: 0;
			}

			&__message {
				float: none;
				width: auto;
				max-width: none;
			}
		}
	}
}

// Состояние: Под полем с ошибкой, не отодвигает ниже стоящие поля E3
@mixin _state_e3($mod: '') {
	.form-standart#{$mod: ''} {
		.form-standart {
			&__inputs {
				width: auto;
				float: none;
				max-width: none;
				margin-right: 0;
			}

			&__message {
				float: none;
				width: auto;
				max-width: none;
				margin-left: 0;
				position: absolute;
			}
		}
	}
}



// Состояние: Вертикальная форма в одну линию

@mixin _state_hor_one_line($mod: '') {
	.form-standart#{$mod: ''} {
		.form-standart {
			&__title {
				text-align: center;
				margin-left: 0;
				margin-right: 0;
				@include mbot(1);
			}

			&__fields-list {
				text-align: center;
				width: auto;
				display: block;
				//padding: 0 40px;
				@include columnizerParent();
			}

			&__field {
				display: inline-block;
				vertical-align: middle;
				padding: 0;
				margin: 0px 0 20px 20px;
				text-align: left;
				@include columnizer(4);

				[type="text"], [type="password"], [type="email"], [type="tel"] {
					//height: 3em;
				}

				&.is-field-btn {
					@include columnizer(12);
					display: block;
					text-align: center;
					@include mtop(0);

					.form-standart__label {
						font-size: 0;
					}
				}

			}


			&__label {
				display: block;
				padding: 0;
				width: auto;
				text-align: left;
				@include margin(10/20);
				font-weight: bold;
				font-size: 1.1em;
			}

			&__fields-list {
				text-align: center;
			}

			&__item {
				display: block;
				padding: 0;
			}

			@media #{$media-phone-landscape} {

				&__title {
					margin-left: 0;
					margin-right: 0;
				}

				&__field {
					display: block;
					padding: 0;
					width: auto;
					float: none;
					@include margin(30/20);
				}
				&__field.js-pass-change.is-visible {
					display: block;
				}

				&__field.js-pass-change,
				&__field.is-hidden {
					display: none;
				}

				&__label {
					display: block;
					padding: 0;
					width: auto;
					text-align: left;
					@include margin(10/20);
				}

				&__item {
					display: block;
					padding: 0;
				}

				&__inputs {
					width: auto;
					float: none;
					margin-right: 0;
				}

				&__message {
					float: none;
					width: auto;
					max-width: none;
				}

				&__plate {
					@include mobile-overflow();
					padding-bottom: 20px;
					.fancybox-inner & {
						margin-left: 0;
						margin-right: 0;
					}
				}
				&__title {
					@include mobile-form-title();
				}
				&__label {
					font-weight: bold;
					margin-bottom: 5px;
					&.is-empty {
						display: none;
					}
				}
				&__field {
					@include margin;
				}
			}
		}

	}
}

// Состояние: Уменьшенный заголовок (для форм включаемых в aside)
@mixin _state_inner_title($mod: '') {
	.form-standart#{$mod: ''} {
		.form-standart {
			&__title {
			    font-size: 140%;
				@include mbot;
			}
		}
	}
}

// Состояние:
@mixin _state_offer($mod: '') {
	.form-standart#{$mod: ''} {
		.form-standart {
			&__field {
				&.is-field-btn {
					.form-standart__label {
						display: none;
					}
				}
			}
		}
	}
}

@media #{$media-phone-landscape} {
	@include _state_ver();
	@include _state_e2();

	.form-standart {
		.form-standart { //to overwrite state
			&__plate {
				@include mobile-overflow();
				padding-bottom: 20px;
				.fancybox-inner & {
					margin-left: 0;
					margin-right: 0;
				}
			}
			&__title {
				@include mobile-form-title();
			}
			&__label {
				font-weight: bold;
				margin-bottom: 5px;
				&.is-empty {
					display: none;
				}
			}
			&__field {
				@include margin;
			}
		}
	}
}

@include _state_pla('.is-subscribe');
@include _state_e2('.is-subscribe');

@include _state_ver('.is-promo');
@include _state_e2('.is-promo');

@include _state_e3('.is-auth');

@include _state_ver('.is-condensed-feedback');
@include _state_e2('.is-condensed-feedback');

@include _state_modal('.is-modal');
@include _state_e2('.is-modal');

@include _state_e2('.is-contacts');
@include _state_contacts('.is-contacts');

@include _state_recovery('.is-pass-recovery');

@include _state_hor('.is-hor');
@include _state_ver('.is-ver');
@include _state_pla('.is-pla');

@include _state_e2('.is-ver');
@include _state_e2('.is-e2');
@include _state_e3('.is-e3');

@include _state_ver('.is-auth-form');
@include _state_pla('.is-auth-form');
@include _state_e2('.is-auth-form');

@include _state_hor('.is-flat');
@include _state_e2('.is-flat');

@include _state_hor_one_line('.is-oneliner');

@include _state_ver('.is-promo');
@include _state_inner_title('.is-promo');
@include _state_e2('.is-promo');

//@include _state_e2('.is-faq');

@include _state_ver('.is-offer');
@include _state_inner_title('.is-offer');
@include _state_e2('.is-offer');
@include _state_offer('.is-offer');

.form-standart.is-auth-form {
	.form-standart__inputs {
	}
}

/*
.form-standart.is-promo {
	.form-standart {
		&__title {
		    font-size: 140%;
			@include mbot;
		}
	}
}
*/

.form-standart__field.is-personal-data {
    clear: both;
    text-align: left;
    width: 100% !important;

    .form-standart__inputs {
        display: inline-block;
        width: auto;
    }
}

.form-standart__field.is-personal-data.is-none .form-standart__none {
    display: block;
}

.fancybox-inner .form-standart__field.is-personal-data {

    .form-standart__item {
        max-width: 410px;
        display: table;
    }

    .form-standart__personal-data-label {
        font-size: 12px;
    }
}