.social-shares {
  width: 47px;
  border-radius: 24px;
  padding: 20px 0 25px;  
  text-align: center;
  background: $color-white;
  margin-left: -12px;  
  
  &__toggle {
    cursor: pointer;
    margin-bottom: 27px;
    font-size: 21px;
    img {
      width: 22px;
    }    
  }
  &__list {
    display: none;
  }
  &__link {
    font-size: 20px;
    margin-bottom: 17px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &.is-open {
    border: 1px solid $color-black;
    box-shadow: 0 5px 14px 1px rgba(10, 12, 15, 0.08);
    .social-shares__toggle {
      opacity: .5;
      img {
        width: 13px;
      }
    }    
  }

  @include max-width(1000px) {
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 2;
  }
}