.person-block {
  margin-bottom: 18px;
  &__avatar {
    margin-bottom: 18px;
    img {
      width: 61px;
      height: 61px;
      border-radius: 50%;
    }
  }
  &__name {
    font-size: 14px;
    font-weight: 500;
  }
  &__date {
    font-size: 12px;
    color: #999999;
  }

  @include max-width(1000px){
    display: flex;
    &__avatar {
      margin-right: 17px;
      margin-bottom: 0;
    }
    &__name {
      font-weight: bold;
      margin-bottom: 5px;
    }
    &__text {
      margin-top: 10px;
    }
  }
}