.top-cards-list {
  @include columnizerParent;
  display: flex;
  
  .card--full-img {
    @include columnizer(5);
  }
  .card--date-event {
    @include columnizer(3);
  }
  .card--primary {
    @include columnizer(4);
  }

  &__card {
    .card__title{
      margin-bottom: 50px;
    }
  }

  @include max-width(1000px) {
    .card--full-img {
      @include columnizer(4);
    }
    .card--date-event {
      @include columnizer(4);
    }
    .card--primary {
      @include columnizer(4);
    }
    &__card {
      .card__title {
        margin-bottom: 25px;
      }
    }
  }
  @include max-width(650px) {
    flex-wrap: wrap;
    .card {
      min-height: 220px;
    }
    .card--full-img {
      @include columnizer(12);
    }
    .card--date-event {
      @include columnizer(12);
    }
    .card--primary {
      @include columnizer(12);
    }
  }
}