.related {
  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    &--video {
      .related__thumb{
        &:before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          box-shadow: inset 0px -60px 38px -16px rgba(0, 0, 0, 0.41);
          transition: .3s
        }
      }
    }    
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 20px;
  }

  &__thumb {
    position: relative;
    width: 88px;
    height: 60px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 19px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }    
  }

  .icon-play-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    transition: .25s;
  }

  .icon-play {
    margin-left: 4px;
    margin-top: -1px;
  }

  hr {
    background: #ccc;
    margin: 25px 0;
    border: none;
    height: 1px;
  }

  &__title {
    font-size: 14px;
  }

  &__time {
    color: $color-gray;
    margin-left: 5px;
  }


  @include max-width(850px) {
    &__item {
      width: 50%;
      padding-right: 20px;
      box-sizing: border-box;
    }
    &__list {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
    }
    
  }
  @include max-width(560px) {
    &__item {
      width: 100%;
      padding-right: 0;
    }
    &__subtitle {
      font-weight: bold;
    }
  }
}