.next-block {
  position: relative;
  padding: 80px 0 60px;
  margin-top: 70px;  
  &__inner {
    // @extend .wrapper--article;
    margin: 0 215px;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  &__title {
    @extend .h3;
    display: block;
    margin: 15px 0 24px;
  }
  &__subtitle {
    color: #999999;
    font-size: 12px;
    font-weight: 500;
  }

  @include max-width(1000px){
    &__inner {
      margin: 0;
    }
  }
  @include max-width(480px){
    padding: 30px 0;
  }
}