.filter-search-catalog {
  display: none;
  padding-bottom: 15px;
}
.filter-result-tags {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  margin: 0 20px;
  border-bottom: 1px solid #C7C7C7;
  .filter-tags-catalog{
    padding: 0 45px;
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;      
      max-width: 680px;
    }
    &__item {
      margin-bottom: 3px;
      margin-right: 12px;
    }
  }
}

.filter-result-articles{
  padding-top: 45px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -65px;
    margin-bottom: 30px;
    padding: 0 45px;
  }
  &__item {
    width: calc(100% / 4);
    padding-left: 65px;
    box-sizing: border-box;
    margin-bottom: 42px;

    .card__time {
      font-size: 11px;
    }
    
    .single-post__title {
      font-size: 18px;
      margin: 14px 0 18px;
      @include max-width(560px) {
        font-weight: normal;
      }
    }    
    .single-post__text {
      color: #999999
    }
  }
}