.main-page-content {
  @include columnizerParent;
  margin-top: 72px;
  margin-bottom: 90px;
  .single-post__type{
    color: #000
  }
  &__left {
    @include columnizer(7);
    padding-left: 27px;
  }
  &__right {
    @include columnizer(4);
    @include columnizerOffset(1);
    padding-left: 27px;
  }
  @include max-width(1000px) {
    &__right {
      @include columnizer(5);    
      @include columnizerOffset(0);
    }
  }

  @include max-width(650px) {
    margin-top: 30px;
    &__left,
    &__right {
      @include columnizer(12);
    }

    &__right {
      margin-top: 27px;
      padding-right: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
      background: #fafafa;
    }
  }

  @include max-width(480px) {
    margin-bottom: 30px;
    &__left {
      padding-left: 0;
    }
    &__right {
      margin-left: -20px;
      margin-right: -20px;
      width: auto;
    }
  }
}