.header {
  &.is-nav-dropdown-open {
		.header__toggle {
			&--open {
				display: none;
			}
			&--close {
				display: block;
			}
		}
	}
	&.is-search-dropdown-open {
		.header__search {
			svg path {
				fill: $color-purple
			}
		}
	}
  &-search-dropdown {
		display: none;
		position: absolute;
		top: 65px;
		left: 0;
		right: 0;
		background: $color-black;
		color: $color-white;
		z-index: 6;
		padding: 25px 20px 40px;

		&__results {
			font-size: 12px;
			opacity: .4;
			margin-bottom: 15px;
		}
		&__button {
			margin-top: 25px;
			.button {
				color: $color-white;
				border-color: $color-white;
				padding: 20px;
				width: 100%;
				&:hover {
					color: $color-yellow;
				}
			}
		}
		.filter-search-input {
			display: block;
			input {
				background: $color-black;
				text-align: left;
				color: $color-white;
				border-bottom: 1px solid $color-white;
				padding: 0 0 17px;
				font-size: 22px;
			}			
		}		
		.filter-result-articles {
			&__list {
				display: block;
				padding: 0;
				margin: 0;
			}
			&__item {				
				width: 100%;
				padding-left: 0;
				margin-bottom: 0;
				padding-top: 17px;
				padding-bottom: 17px;
				border-bottom: 1px solid #3b3b3b;
				&:last-child {
					border: 0
				}
				.single-post__title {
					font-size: 16px;
					color: $color-white;
					margin: 0;
				}
				.card__time {
					color: $color-yellow;
				}
			}
		}
  }
  
  &-nav-dropdown {
		display: none;
		position: absolute;
		top: 65px;
		padding: 35px 35px 60px;
		left: 0;
		right: 0;
		background: #000;
		z-index: 6;
		.header-nav {
			display: block;
			font-size: 22px;
			margin: 0 0 50px;
			&__link::before {
				display: none;
			}
			li {
				margin-bottom: 22px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.select2-container {
			width: 90px!important;
			font-size: 16px;
			font-weight: 500;
		}
		.select2-selection__rendered {
			text-align: left;
			padding-left: 0!important;
		}
  }
  
  @include max-width(850px) {
		&-right__link{
			margin-right: 5px;
		}
		&-nav{
			margin: 0 20px;
			li{
				margin-right: 20px;
			}
		}
	}
	@include max-width(700px) {	
		&__inner {
			height: 65px;
			& > .header-nav,
			& > .header-right .header-lang,
			.header-right__link {
				display: none;
			}
		}
		&__toggle,
		&__search {
			display: block;
		}
		&-logo {
			align-items: flex-end;
			&__title {
				font-size: 10px;
				margin-bottom: 0;
			}
		}
	}
}