.primary-cards {
  @include columnizerParent;
  margin-left: 0;
}
.primary-cards-list {
  @include columnizerParent;
  display: flex;
  flex-wrap: wrap;
  &__card {
    @include columnizer(3);
    margin-bottom: 30px;
  }
  &__load {
    width: 100%;
    margin-top: 40px;
  }
  &__button {
    @include columnizer(6);
    @include columnizerOffset(3);
  }

  @include max-width(1000px) {
    &__card {
      @include columnizer(4);
    }
  }
  @include max-width(700px) {
    &__card {
      @include columnizer(6);
    }
  }
  @include max-width(480px) {
    &__card {
      @include columnizer(12);
    }
    &__button {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: 0;
    }
    &__load {
      margin-top: 20px;
    }
  }
}