@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/fontawesome-webfont.eot');
  src: url('../fonts/FontAwesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FontAwesome/fontawesome-webfont.woff2') format('woff2'),
    url('../fonts/FontAwesome/fontawesome-webfont.woff') format('woff'),
    url('../fonts/FontAwesome/fontawesome-webfont.ttf') format('truetype'),
    url('../fonts/FontAwesome/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?y5ymdv');
  src: url('../fonts/icomoon.eot?y5ymdv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?y5ymdv') format('truetype'),
    url('../fonts/icomoon.woff?y5ymdv') format('woff'),
    url('../fonts/icomoon.svg?y5ymdv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  &:before {
    transition: color .25s;
  }

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e907";
  color: #fff;
}

.icon-logo:before {
  content: "\e906";
  color: #fff;
}

.icon-icon-arrow-back:before {
  content: "\e900";
}

.icon-icon-cross:before {
  content: "\e901";
}

.icon-icon-facebook:before {
  content: "\e902";
  color: #4469b0;
}

.icon-icon-menu-toggle:before {
  content: "\e903";
}

.icon-icon-search:before {
  content: "\e904";
}

.icon-icon-share:before {
  content: "\e905";
}

.icon-icon-search {
  font-size: 21px;
}

.icon-icon-facebook {
  font-size: 31px;
}