.footer {
	background: #000000;
	@include clearfix;
	padding: 30px 0 35px;
	font-weight: 300;
	color: $color-white;
	a {
		color: $color-white;
	}
	&__inner {
		@include columnizerParent;
		display: flex;
		align-items: center;
	}
	&__column {
		@include columnizer(4);
	}
	&__partner {
		display: flex;
	}
	&__logo {
		display: none;
		margin: 34px 0 20px;
		.icon-logo {
			font-size: 39px;
		}
	}

	@include max-width(1000px) {
		&__inner {
			flex-wrap: wrap
		}
		&__logo {
			display: block;
		}
		&__column {
			@include columnizer(12);
			text-align: center;
			&:nth-child(2) {
				order: -1;
				margin-bottom: 20px;
			}
			&:first-child {
				border-bottom: 1px solid #353434;
				padding-bottom: 25px;
			}			
		}
		&__partner {
			flex-direction: column;
			align-items: center;
		}
		.partner-text {
			order: -1;
			margin-bottom: 25px;
		}
	}	
}