.list-posts {
  padding-right: 60px;
  &__type {
    @extend %type-content;
    margin-bottom: 40px;
    color: #000
  }
  &__item {
    font-size: 18px;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .tags-list {
    margin-left: 12px;
  }

  @include max-width(1000px) {
    padding-right: 0;
    &__item {
      font-size: 16px;
    }
  }
  @include max-width(650px) {
    &__type {
      margin-bottom: 22px;
    }
    &__item {
      padding-bottom: 18px;
      border-bottom: 1px solid #e0e0e0;
      &:last-child{
        border: none
      }
    }
  }
}