.request-demo {
  display: flex;
  align-items: center;
  background: $color-purple;
  color: $color-white;
  padding: 22px 27px 21px;
  box-shadow: 0 6px 14px 2px rgba(10, 12, 15, 0.08);
  border-radius: 5px;
  position: relative;
  font-size: 16px;
  margin-top: 75px;
  max-width: 740px;
  &__text {
    flex-grow: 1;
    margin-right: 140px;
  }
  &__img {
    img {
      position: absolute;
      right: 180px;
      bottom: -16px;
    }    
  }
  &__link {
    font-weight: 700;    
    text-transform: uppercase;
    color: #fdf56c;
    white-space: nowrap;
    &.base-link {
      color: #fdf56c;
    }
  }

  @include max-width(560px) {
    flex-direction: column;
    text-align: center;
    padding: 17px 17px 17px 130px;
    &__text {
      margin-right: 0;
      margin-bottom: 15px;
    }
    &__img img {
      right: auto;
      left: -10px;
    }
  }
}