.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 11px 27px 3px rgba(10, 12, 15, 0.08);
  border-radius: 5px;
  background-color: #ffffff;
  position: relative;
  color: $color-black;
  text-decoration: none;
  overflow: hidden;
  transition: transform .6s,  box-shadow .6s;
  &:hover {
    transform: translateY(-12px);    
  }  
  &:not(.card--flip):hover {
    box-shadow: 0 11px 27px 3px rgba(10, 12, 15, 0.08);
  }
  img {
    max-width: 100%;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    img {
      width: 100%;
      height: 100%;
      vertical-align: bottom;
      object-fit: cover;
    }    
    &-wrap {
      max-height: 160px;
      overflow: hidden;
    }
  }  
  &__type {
    @extend %type-content;
    margin-bottom: 13px;
    display: block;

    &-wrap {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
    }
  }
  &__podcast-title {
    font-size: 12px;
    position: absolute;
    right: 0;
  }
  &__title {
    display: block;
    font-size: 18px;
    flex-grow: 1;
    margin-bottom: 25px;
    transition: .25s;
  }
  &__time {
    font-size: 14px;
    margin-left: 10px;
    color: $color-gray;
  }
  &__content {
    display: flex;
    flex-direction: column;    
    padding: 20px 27px 10px;
    flex-grow: 1;
  }
  &__tag {
    @extend %hashtag
  }
  &__event-info {
    color: $color-white;
    text-transform: uppercase;
    padding: 26px;
    line-height: 1;
  }
  &__event-month {
    font-size: 18px;
    margin-bottom: 15px;
  }
  &__event-day {
    font-size: 90px;
    font-weight: 500;
    white-space: nowrap;
  }
  &__media-icon{
    flex-grow: 1;
    margin: 42px 0 25px;
    font-size: 35px;
    .icon-play-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 78px;
      height: 78px;
      border-radius: 50%;      
      border: 2px solid #fff;
      transition: .25s;
    }
    .icon-play{      
      margin-left: 7px;
    }
  }
  &__flipme {
    font-size: 12px;
    margin-top: 20px;
    span {
      margin-left: 5px
    }
  }

  .tags-list__item:not(.is-active) {
    .base-link:hover {
      color: $color-purple
    }
  }

  @include max-width(1000px) {
    &__event-day {
      font-size: 60px;
    }
    &__title {
      font-size: 16px;
    }    
  }

  @include max-width(650px) {
    margin-bottom: 15px;
  }

  // модификаторы карточек
  &--full-img {
    justify-content: flex-end;
    z-index: 2;
    color: $color-white;
    .tags-list__item {
      color: $color-white;
    }
    .card__img {
      position: absolute;
      display: block;
      z-index: -1;
      width: 100%;
      height: 100%;      
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }     
      
    }
    .base-link {
      color: $color-white;
    }
    .card__time {
      color: #ffff66;
    }
    .card__content {
      display: block;
      margin-right: 25%;
      flex-grow: unset;
    }
    @include max-width(1000px) {
      .card__content {
        margin-right: 20px;
      }
    }
    .base-link:hover {
      color: $color-yellow
    }
    
  }

  &--date-event {
    text-align: center;
    box-shadow: none;
    .card__title {
      margin-top: 28px;
    }
    .card__img-wrap {
      position: relative;
      z-index: 2;
      &:after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
        border-bottom: 5px dotted #f9f9f9;
        z-index: 2;
      }
    }
    .card__content {
      background: $color-gray-light;
      border: 1px solid #efefef;
      border-top: none;      
    }
    .card__img {
      @extend %img-like-bg
    }

    @include max-width(1000px) {
      .card__title {
        margin-top: 0;
      }
    }
  }

  &--media {
    z-index: 2;
    border: 1px solid #efefef;
    background: $color-gray-light;
    box-shadow: none;
    padding: 5px 5px 0;
    .card__img-wrap {      
      @extend %img-like-bg;
      max-height: none;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.59) 28%, rgba(0, 0, 0, 0.3) 100%);
        transition: opacity .3s
      }
    }      
    .card__type {
      margin-bottom: 0;
      color: #fff;
    }
    .card__title {
      flex-grow: unset;
      margin-bottom: 6px;
    }
    .card__img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .card__time {
      color: $color-yellow;
      margin-left: 0;
    }
    .card__content {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      text-align: center;
      color: $color-white;
      border-radius: 5px;
      overflow: hidden;      
      padding: 46px 15px 17px;
      
      &:hover {
        color: $color-white;
        .card__title{
          color: $color-yellow
        }
        .icon-play-wrap{          
          border-color: $color-yellow
        }
        .icon-play::before{
          color: $color-yellow
        }
      }
    }
    .tags-list {
      margin: 10px 23px 8px;
    }
  }
  &--podcast {
    .card__img-wrap:before {
      display: none;
    }
  }
  &--without-promo {
    .card__img {
      position: absolute;
      bottom: 0;
      right: 22px;
      width: auto;
      max-width: 143px;
      height: auto;
      object-fit: unset;
    }
    .card__title {
      position: relative;
      font-size: 29px;
      text-transform: uppercase;
      font-weight: 300;
    }

    @include max-width(1000px) {
      .card__title {
        font-size: 22px;
      }
    }  
    @include max-width(480px) {
      .card__img {
        display: none;
      }
    }
  }

  &--flip {
    background: none;
    padding: 30px 27px 10px;
    background: none;
    box-shadow: none;
    padding: 0;
    overflow: unset;
    .front,
    .back {
      display: flex;
      flex-direction: column;
      box-shadow: 0 11px 27px 3px rgba(10, 12, 15, 0.08);
      border-radius: 5px;
      background: #ffffff;
      padding: 30px 27px 10px;
      box-sizing: border-box;
    }
    .card__content {
      padding: 0
    }
  }

  &--small {
    padding: 0;
    box-shadow: 0 11px 27px 3px rgba(10, 12, 15, 0.08);
    .card__content {
      padding: 20px 30px 30px 10px;     
      text-align: left;
      border-radius: 0;
      align-items: flex-start;
    }
    .card__title,
    .card__time {
      font-size: 13px;
    }
    .card__title {
      color: #fff
    }
    .card__type {
      margin-bottom: 15px;
    }
    .tags-list {
      margin: 7px 14px 8px;
    }
    @include max-width(560px){
      .card__title,
      .card__time {
        font-size: 16px;
      }
    }
  }
}

%img-like-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}